<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/recipes">Recettes</a></li>
            <li><a href="/calendar">Calendrier</a></li>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/register">Inscription</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Rechercher une recette...">
        <div id="searchResults"></div> <!-- Contiendra les résultats d'autocomplétion -->
    </div>
</header>

<hr>

<link rel="stylesheet" href="/assets/styles/header.css">
<script src="/assets/javascript/autocomplete.js"></script>