<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/recipes">Recettes</a></li>
            <li><a href="/calendar">Calendrier</a></li>
        </ul>
    </nav>
</header>
<hr>
